<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hdahagam.app2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true">
        <activity android:name=".MainActivity" android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"
            android:label="LINEAR LAYOUT"
            android:theme="@style/AppThemeLayout"/>
        <activity android:name=".Main3Activity"
            android:label="CALC"
            android:theme="@style/AppThemeLayout2"/>
        <activity android:name=".Main4Activity"
            android:label="MOVIES"
            android:theme="@style/AppThemeLayout3"/>
    </application>

</manifest>